%footer
  .inner
    %ul.elsewhere
      %li.email
        %a(href="mailto:contact@stefangoodchild.com" title="contact@stefangoodchild.com")
          %span contact@stefangoodchild.com 
      %li.phone
        %a(href="tel:+447595181528" title="Call me on +44 (0) 7595 181528") 
          %span Call me on +44 (0) 7595 181528
      %li.twitter
        %a(href="http://twitter.com/stefangoodchild" title="Follow me on Twitter") 
          %span Follow me on Twitter
      %li.github
        %a(href="http://github.com/stefang" title="See my code on Github") 
          %span See my code on Github
      %li.vimeo
        %a(href="http://www.vimeo.com/stefangoodchild"  title="Watch my videos on Vimeo") 
          %span Watch my videos on Vimeo
      %li.rss
        %a(href="/articles.xml" title="Atom Feed")
          %span Atom Feed
    %ul.credits
      %li
        Powered by 
        %a(href="http://nestacms.com") Nesta, a Ruby CMS
        %span.amp
          &amp;
        %a(href="http://heroku.com") Heroku, the cloud application platform