%header(role="banner")
  .inner
    %a.main_header_link(href="/")
      %img(src="/images/triplegeeklogo.png" alt="Triple Geek logo")
      %h1.main_header= @heading
      %h2.main_subtitle
        Code, design 
        %span.amp &amp
        interaction
    %ul.elsewhere
      %li.email
        %a(href="mailto:contact@stefangoodchild.com" title="contact@stefangoodchild.com")
          %span contact@stefangoodchild.com 
      %li.phone
        %a(href="tel:+447595181528" title="Call me on +44 (0) 7595 181528") 
          %span Call me on +44 (0) 7595 181528
      %li.twitter
        %a(href="http://twitter.com/stefangoodchild" title="Follow me on Twitter") 
          %span Follow me on Twitter