#content
  %section(role="main")
    %img.fourohfour(src="/images/404.gif")
    %h1 Four, oh dear, four
    %p
      Woe, misery, introspection. I've moved something probably or forgot to update something, it's not your fault. I'm sorry, maybe 
      %a(href="/") try the front page.
      