This is still getting traffic so I thought I'd un-404 it and move it to Github.

<a href="https://github.com/stefang/Frame-Accurate-HTML5-Video-Thing">Early Prototype Frame Accurate HTML5 Video Player</a>