%section.welcome
  %article
    %p.intro
      My name is 
      %em Stefan Goodchild 
      and I'm a freelance
      %em 
        designer
        %span.amp
          &amp;
        developer
      living in Bristol, UK
    %p I've got an eye for good design, a foot firmly in the UX camp and am an advocate of clean modern semantic markup. I'm a strong proponent of rapidly prototyping and developing in Ruby on Rails or Sinatra but also at home wading through the back end of Wordpress if need be. Javascript comes as standard and I'm partial to jQuery.
    %p Also I create generative and audio reactive visuals with code using Processing and openFrameworks. Recent work includes tour visuals for Pulp and Peter Gabriel and their teams; interpreting the music and their vision of the show.
    %p When I'm not busy doing either of those I'm probably with my two young boys, cycling over the hills near Bristol, half way up a climbing gym wall, in the middle of nowhere in a tent planning the next hike or trying to find the best old school real ale pub in Bristol.
    %p 
      If you would like me to work with you on a project please 
      %a(href="mailto:contact@stefangoodchild.com") get in touch.
  %aside

%section.article_lists.portfolio
  - article_list_for(nil, 'portfolio', 9)