%section.welcome
  %article
    .videoWrapper
      %iframe(src="//player.vimeo.com/video/79869669?title=0&amp;byline=0&amp;portrait=0&amp;color=ff0179" width="1280" height="720" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
    %p.intro
      My name is 
      %em Stefan Goodchild 
      and I'm a freelance 
      %em creative coder,
      %em 
        web developer
        %span.amp
          &amp;
        interface designer
      living in Bristol, UK
    %p I create visuals with code using Processing and openFrameworks for concerts, conferences and installations. When dealing with interactive code I think great design that focuses on the user experience is paramount and I rapidly prototype using Javascript, jQuery, AngularJS, Sinatra, HAML, SASS &amp; Wordpress. 
    %p 
      If you would like me to work with you on a project please 
      %a(href="mailto:contact@triplegeek.com") get in touch.
  %aside

%section.article_lists.portfolio
  %h2 
    %a(href="portfolio/visuals") Concert visuals
  - portfolio_list_for('portfolio/visuals', 9)
%section.article_lists.lab
  %h2 
    %a(href="lab") The Lab
  - portfolio_list_for('lab', 9)