%section.welcome
  %article
    .videoWrapper
      %iframe(src="//player.vimeo.com/video/251695487?title=0&amp;byline=0&amp;portrait=0&amp;color=ff0179" width="1280" height="720" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
    %p.intro
      My name is 
      %em Stefan Goodchild 
      and I'm a freelance 
      %em creative coder,
      %em motion graphics
      %span.amp
        &amp;
      %em interaction designer,
      living in Bristol, UK
    %p I create real time interactive visuals and motion graphics with code using Unity and VDMX and classic rendered motion graphics with Blender, After Effects and Premier or whatever else works for concerts, museums, the web, installations, television, and conferences.
    %p 
      If you would like me to work with you on a project, big or small, please 
      %a(href="mailto:stefan@triplegeek.com") get in touch.
  %aside

%section.article_lists.portfolio
  %h2 
    %a(href="portfolio") 
      Visuals
      %span.amp
        &amp;
      Interactives
  - portfolio_list_for('portfolio/visuals', 15)
%section.article_lists.portfolio
  %h2 
    %a(href="portfolio/web") 
      Web Applications 
      %span.amp
        &amp;
      Websites
  - portfolio_list_for('portfolio/web', 15)
%section.article_lists.lab
  %h2 
    %a(href="lab") The Lab
  - portfolio_list_for('lab', 9)