%section.welcome
  %article
    %p.intro
      My name is 
      %em Stefan Goodchild 
      and I'm a freelance 
      %em 
        web designer
        %span.amp
          &amp;
        developer
      living in Bristol, UK
    %p I believe in great design that focuses on the user experience and rapidly prototyping using Ruby on Rails, Sinatra, Wordpress and jQuery. I also create visuals with code using Processing and openFrameworks for concerts and installations.
    %p When I'm not busy doing either of those I'm probably with my two young boys, cycling over the hills near Bristol, half way up a climbing gym wall, in the middle of nowhere in a tent planning the next hike or trying to find the best old school real ale pub in Bristol.
    %p 
      If you would like me to work with you on a project please 
      %a(href="mailto:contact@stefangoodchild.com") get in touch.
  %aside

%section.article_lists.portfolio
  - article_list_for(nil, 'portfolio', 9)