%section.welcome
  %article
    .videoWrapper
      %iframe(src="//player.vimeo.com/video/79869669?title=0&amp;byline=0&amp;portrait=0&amp;color=ff0179" width="1280" height="720" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
    %p.intro
      My name is 
      %em Stefan Goodchild 
      and I'm a freelance 
      %em creative coder,
      %em motion graphics
      %span.amp
        &amp;
      %em interaction designer,
      living in Bristol, UK
    %p I create motion graphics and real time interactive visuals with code using Processing and openFrameworks for concerts, installations, television, and conferences.
    %p 
      If you would like me to work with you on a project please 
      %a(href="mailto:contact@triplegeek.com") get in touch.
  %aside

%section.article_lists.portfolio
  %h2 
    %a(href="portfolio") My Work
  - portfolio_list_for('portfolio/visuals', 18)
%section.article_lists.lab
  %h2 
    %a(href="lab") The Lab
  - portfolio_list_for('lab', 9)