%h1 The Lab

%p This is my playground. A place to show off all those bits of code, design and interaction that haven't yet made it into production or abstracted out of something already released. Modern browsers are probably required...

%section.article_lists.portfolio
  - portfolio_list_for('lab', 12)