%h1 Portfolio

%section.article_lists.portfolio
  %h2 
    %a(href="portfolio/visuals") Visuals
  - portfolio_list_for('portfolio/visuals', 18)

%section.article_lists.portfolio
  %h2 
    %a(href="portfolio/web") Websites
  - portfolio_list_for('portfolio/web', 18)
